DATABASE_URL="postgresql://mediavault_user:your_password_here@localhost:5432/mediavault"
JWT_SECRET="your_long_random_secret_here"
PORT=5001

# App URLs
FRONTEND_URL=http://localhost:5173

# AWS / S3 Configuration
AWS_REGION=us-east-2
S3_BUCKET_NAME=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# Email Configuration
SES_FROM_EMAIL=

# Account Creation Access
ALLOW_PUBLIC_SIGNUP=false
